<<<<<<< HEAD
=======
.header {
    padding-top: 62px;
  }
  
  @media (min-width: 768px) {
    .header {
      padding-top: 0;
    }
  }
  
  @media (min-width: 768px) {
    body:not(.home):not(.calculadora):not(.localizar) .header .navbar:nth-child(2) {
      margin-bottom: 135px;
    }
  }
  
  .content {
    margin-bottom: 30px;
  }
  
  @media (min-width: 768px) {
    .content {
      margin-bottom: 98px;
    }
  }
  
  a {
    color: inherit;
  }
  
  /* Pages */
  /* PRODUTOS */
  
  .produto {
    height: 400px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .produto h2 {
    font-family: "Source Serif Pro", serif;
    font-size: 18px;
    margin: 10px 5px;
  }
  
  .produto h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .bootstrap-select .btn-default {
    color: #000;
    border: 1px solid #000;
    border-radius: 0px;
    background-color: transparent;
  }
  
  .bootstrap-select .btn-default:focus,
  .bootstrap-select .btn-default:hover,
  .bootstrap-select .btn-default.active,
  .bootstrap-select .btn-default:active,
  .bootstrap-select {
    background-color: rgba(229, 215, 207, 0.2);
    color: #000;
  }
  
  .bootstrap-select.btn-default.active.focus,
  .bootstrap-select.btn-default.active:focus,
  .bootstrap-select.btn-default.active:hover,
  .bootstrap-select.btn-default:active.focus,
  .bootstrap-select.btn-default:active:focus,
  .bootstrap-select.btn-default:active:hover,
  .bootstrap-select.open > .dropdown-toggle.btn-default.focus,
  .bootstrap-select.open > .dropdown-toggle.btn-default:focus,
  .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
  .bootstrap-select.btn-default.active,
  .bootstrap-select.btn-default:active,
  .bootstrap-select.open > .dropdown-toggle.btn-default {
    background-color: rgba(229, 215, 207, 0.2);
    color: white;
    border: 1px solid white;
  }
  
  .bootstrap-select.btn-default.active.focus:hover,
  .bootstrap-select.btn-default.active:focus:hover,
  .bootstrap-select.btn-default.active:hover:hover,
  .bootstrap-select.btn-default:active.focus:hover,
  .bootstrap-select.btn-default:active:focus:hover,
  .bootstrap-select.btn-default:active:hover:hover,
  .bootstrap-select.open > .dropdown-toggle.btn-default.focus:hover,
  .bootstrap-select.open > .dropdown-toggle.btn-default:focus:hover,
  .bootstrap-select.open > .dropdown-toggle.btn-default:hover:hover,
  .bootstrap-select.btn-default.active:hover,
  .bootstrap-select.btn-default:active:hover,
  .bootstrap-select.open > .dropdown-toggle.btn-default:hover {
    background-color: rgba(229, 215, 207, 0.2);
    border: 1px solid #000;
    color: #000;
  }
  
  .bootstrap-select .dropdown-menu > li > a {
    color: #000;
  }
  
  .thumbnail {
    border: 0;
    border-radius: 0;
    color: #000;
    line-height: 1.42857143;
    margin-bottom: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
  }
  
  .thumbnail p.relacionado {
    position: absolute;
    top: 130px;
    left: 30px;
    width: 284px;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
  }
  
  .thumbnail p {
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .thumbnail .caption {
    -ms-flex-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.45);
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 2%;
    text-align: center;
    z-index: 2;
  }
  
  /* MEU CARRINHO */
  /* PRODUTO INTERNO */
  /* RADIO */
  .listrado {
    background-color: #dbccc5;
    margin-bottom: 20px;
    padding: 30px 0;
    text-align: center;
  }
  
  .listrado .t1 {
    font-size: 16px;
    margin-top: 5px;
  }
  
  .listrado .t2 {
    font-size: 50px;
  }
  
  .listrado .t3 {
    font-size: 14px;
  }
  
  .menu {
    margin-bottom: 20px;
  }
  
  .menu h1 {
    padding: 20px 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: "Nickainley-Normal", cursive;
    font-size: 40px;
  }
  
  .menu ul {
    padding: 10px 0;
    padding-bottom: 0;
    margin-bottom: 0px;
    background-color: #dbccc5;
  }
  
  .menu ul li a {
    border-bottom: 1px solid #fff;
    color: inherit;
    font-family: "Source Serif Pro", serif;
    font-size: 22px;
    display: block;
    padding: 3px 0;
    text-align: center;
  }
  
  .menu ul li ul {
    padding: 2px 0;
  }
  
  .menu ul li ul li a {
    font-size: 16px;
  }
  
  .menu ul li a:focus,
  .menu ul li a:hover,
  .menu ul li.active {
    background-color: #000;
    color: #dbccc5;
    text-decoration: none;
  }
  
  .loja-rodape {
    background-color: #000;
    border-bottom: 2px solid #fff;
    font-family: "source_serif_prolight", serif;
    font-size: 15px;
    line-height: 1.4;
    padding-top: 50px;
    padding-bottom: 5px;
  }
  
  .loja-rodape h2 {
    font-family: "Source Serif Pro", serif;
    text-transform: uppercase;
    font-size: 1.13em;
    color: #e5d7cf;
    margin-bottom: 5px;
  }
  
  .loja-rodape ul {
    margin-bottom: 30px;
  }
  
  .loja-rodape a {
    color: #e5d7cf;
  }
  
  .loja-rodape a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .loja-rodape .redes-sociais li a {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .loja-rodape .redes-sociais li {
    float: left;
  }
  
  .loja-rodape .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .loja-rodape .cnpj,
  .loja-rodape .fone {
    color: #e5d7cf;
  }
  
  .loja-rodape .espaco-cielo {
    margin-left: 0;
    padding-bottom: 30px;
  }
  /*CADASTRO*/

  /* NAVBAR */
  .navbar-default .collapse {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }  
  /* CARRINHO MENU */
  
  .dropdown-menu {
    left: -250px;
    font-size: 15px;
  }
  
  .navbar .navbar-nav-cart {
    display: block;
  }
  
  .navbar-default .navbar-nav-cart > li.open a,
  .navbar-default .navbar-nav-cart > li.open a:hover,
  .navbar-default .navbar-nav-cart > li.open a:focus {
    background-color: transparent;
  }
  
  .navbar-default .navbar-nav-cart > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
  }
  
  .navbar-nav > li > .dropdown-menu {
    margin-top: 10px;
  }
  
  .navbar-nav-cart:hover .cartQTD {
    background-color: white;
    color: #fff !important;
  }
  
  .carrinho-btn .icon,
  .carrinho-btn .desc {
    float: left;
  }
  
  .carrinho-btn .icon {
    font-size: 40px;
    margin-right: 15px;
    padding-top: 5px;
  }
  
  .carrinho-btn .icon .cartQTD {
    position: absolute;
    font-size: 12px;
    font-family: verdana;
    padding: 2px 8px;
    border-radius: 50%;
    background: #fff;
    color: white !important;
    margin: -47px 0px 0px 24px;
    transition: all 0.5s ease-in-out;
  }
  
  .carrinho-btn .carrinho {
    font-size: 16px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: 1px solid;
    border-bottom-style: dashed;
  }
  
  .carrinho-btn .detalhes {
    font-size: 18px;
  }
  
  ul.dropdown-cart {
    background:white;
    min-width: 500px;
    padding: 10px;
  }
  
  ul.dropdown-cart li {
    z-index: 10000;
  }
  
  ul.dropdown-cart li span {
    color: #d6c1b4;
  }
  
  ul.dropdown-cart li a.btn-finalizar {
    text-transform: uppercase;
    color: #d6c1b4;
    border: 1px solid #d6c1b4;
    font-size: 10px;
    padding: 3px;
    padding-top: 6px;
  }
  
  ul.dropdown-cart li a.btn-finalizar:focus,
  ul.dropdown-cart li a.btn-finalizar:hover {
    background-color: white;
    border: 1px solid #fff;
    color: #fff;
  }
  
  ul.dropdown-cart li .item {
    color: #d6c1b4;
  }
  
  ul.dropdown-cart li .item::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  
  ul.dropdown-cart li .item-left {
    float: left;
  }
  
  ul.dropdown-cart li .item-left img,
  ul.dropdown-cart li .item-left span.item-info {
    float: left;
  }
  
  ul.dropdown-cart li .item-left span.item-info {
    margin-left: 10px;
  }
  
  ul.dropdown-cart li .item-left span.item-info span {
    display: block;
  }
  
  ul.dropdown-cart li .item-right {
    float: right;
  }
  
  ul.dropdown-cart li .item-right button {
    margin-top: 14px;
  }
  
  ul.dropdown-cart li.divider {
    background-color: #d6c1b4;
  }
  /* CAROUSEL LOJA
  */
  
  .carousel_loja,
  .carousel_loja .item {
    width: 100%;
    height: 468px;
    overflow: hidden;
  }
  
  .carousel_loja .item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .carousel_loja .navigation {
    position: absolute;
    left: 80px;
    top: 380px;
  }
  
  .carousel_loja .navigation li {
    width: 12px;
    height: 12px;
    list-style-type: none;
    cursor: hand;
    margin-top: 10px;
    display: block;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
  }
  
  .carousel_loja .navigation li:hover,
  .carousel_loja .navigation li.active {
    display: none;
    border-radius: 6px;
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 2px solid #fff;
  }
  
  ul.carousel_loja {
    width: 100%;
    height: 999999px;
  }
  
  ul.carousel_loja li {
    width: 100%;
    height: 468px;
    padding-top: 0px;
    background-repeat: no-repeat;
    background-position: center right;
    color: #fff;
  }
  
  ul.carousel_loja .t1 {
    font-size: 42px;
    margin-bottom: 20px;
  }
  
  ul.carousel_loja .t2 {
    font-size: 130px;
    line-height: 48px;
  }
  
  /* LISTA BANNER  */
  
  li.carousel-loja-banner-1 .t1 {
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 0px;
  }
  
  li.carousel-loja-banner-1 .t2 {
    font-size: 100px;
  }
  
  li.carousel-loja-banner-1 .t3 {
    font-size: 100px;
  }
  
  .calculadora .content .header-lead-section {
    margin-bottom: 50px;
  }
  
  .calculadora .content h2,
  .calculadora .content h3 {
    color: #000;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
  }
  
  .calculadora .content h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .calculadora .content ul.tipo-evento {
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .calculadora .content ul.tipo-evento li {
    float: left;
  }
  
  .calculadora .content ul.tipo-evento li a {
    color: #606163 !important;
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    width: 150px;
  }
  
  @media (min-width: 690px) {
    .calculadora .content ul.tipo-evento li a {
      width: 130px;
    }
  }
  
  @media (min-width: 768px) {
    .calculadora .content ul.tipo-evento li a {
      width: 106px;
    }
  }
  
  @media (min-width: 992px) {
    .calculadora .content ul.tipo-evento li a {
      font-size: 16px;
      width: 136px;
    }
  }
  
  @media (min-width: 1200px) {
    .calculadora .content ul.tipo-evento li a {
      width: 166px;
    }
  }
  
  .calculadora .content ul.tipo-evento li a p {
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .calculadora .content ul.tipo-evento li a span {
    margin: 0 auto;
    display: block;
    background: top left no-repeat;
    transition: all 500ms ease;
  }
  
  .calculadora .content ul.tipo-evento li.aniversario a span {
    width: 70px;
    height: 70px;
    background: url(/img/loja/tipos-de-eventos/icon-aniversario.png);
  }
  
  .calculadora .content ul.tipo-evento li.breakfast a span {
    background: url(/img/loja/tipos-de-eventos/icon-breakfast.png);
    height: 65px;
    margin-top: 5px;
    width: 64px;
  }
  
  .calculadora .content ul.tipo-evento li.aniversario-infantil a span {
    background: url(/img/loja/tipos-de-eventos/icon-aniversario-infantil.png);
    height: 70px;
    width: 76px;
  }
  
  .calculadora .content ul.tipo-evento li.casamento a span {
    background: url(/img/loja/tipos-de-eventos/icon-casamento.png);
    height: 57px;
    margin-top: 13px;
    width: 78px;
  }
  
  .calculadora .content ul.tipo-evento li.coffee-break a span {
    background: url(/img/loja/tipos-de-eventos/icon-coffee-break.png);
    height: 44px;
    margin-top: 26px;
    width: 89px;
  }
  
  .calculadora .content ul.tipo-evento li.formatura a span {
    background: url(/img/loja/tipos-de-eventos/icon-formatura.png);
    height: 61px;
    margin-top: 8px;
    width: 74px;
  }
  
  .calculadora .content ul.tipo-evento li.happy-hour a span {
    background: url(/img/loja/tipos-de-eventos/icon-happy-hour.png);
    height: 60px;
    margin-top: 10px;
    width: 52px;
  }
  
  .calculadora .content ul.tipo-evento li a:focus,
  .calculadora .content ul.tipo-evento li a:hover,
  .calculadora .content ul.tipo-evento li.active a {
    color: #dbccc5;
  }
  
  .calculadora .content ul.tipo-evento li a:focus span,
  .calculadora .content ul.tipo-evento li a:hover span,
  .calculadora .content ul.tipo-evento li.active a span {
    background-position: bottom left;
  }
  
  .calculadora .content .set-horario {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .calculadora .content input.evento-horario {
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid #000;
    outline: 0;
    text-align: center;
    width: 112px;
  }
  
  .calculadora .content input.evento-horario::-webkit-input-placeholder {
    text-align: center;
    color: #000;
  }
  
  .calculadora .content input.evento-horario:-ms-input-placeholder {
    text-align: center;
    color: #000;
  }
  
  .calculadora .content input.evento-horario::placeholder {
    text-align: center;
    color: #000;
  }
  
  .calculadora .content .quantidade-pessoas {
    margin: 0 auto;
    text-align: center;
    width: 150px;
  }
  
  @media (min-width: 768px) {
    .calculadora .content .quantidade-pessoas {
      width: 430px;
    }
  }
  
  .calculadora .content .quantidade-pessoas .tipo-pessoas {
    padding: 5px 0;
  }
  
  .calculadora .content .quantidade-pessoas .tipo-pessoas li {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 2px;
    margin-top: 10px;
    width: 136px;
  }
  
  .calculadora .content .quantidade-pessoas .tipo-pessoas li span {
    margin: 0 auto;
    display: block;
    background: top left no-repeat;
  }
  
  .calculadora .content .quantidade-pessoas .tipo-pessoas li.homens span {
    background: url("/img/loja/pessoas/icon-homens.png");
    height: 69px;
    width: 40px;
  }
  
  .calculadora .content .quantidade-pessoas .tipo-pessoas li.mulheres span {
    background: url("/img/loja/pessoas/icon-mulheres.png");
    height: 69px;
    width: 50px;
  }
  
  .calculadora .content .quantidade-pessoas .tipo-pessoas li.criancas span {
    background: url("/img/loja/pessoas/icon-criancas.png");
    height: 57px;
    margin-top: 12px;
    width: 40px;
  }
  
  .calculadora .content .calculadora__cards {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .calculadora .content .calculadora__cards .comida-bebidas-descartaveis + .comida-bebidas-descartaveis {
    margin-top: 20px;
  }
  
  .calculadora .content .calculadora__cards .comida-bebidas-descartaveis .title {
    background-color: #e5d7cf;
    font-family: "Nickainley-Normal", cursive;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    padding-top: 7.5px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .calculadora .content .calculadora__cards .comida-bebidas-descartaveis .checkboxes {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
    border: 1px solid white;
    height: 100%;
    width: 100%;
  }
  
  .calculadora .content .calculadora__cards .comida-bebidas-descartaveis .btn-calcular-calculadora {
    font-size: 20px;
    line-height: 1;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .calculadora .content .calculadora__cards .comida-bebidas-descartaveis #resultado .box {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
    border: 1px solid white;
    height: 100%;
    width: 100%;
  }
  
  .calculadora .content #btn-imprimir {
    display: none;
  }
  
  /* helpers */
  
  .img-center {
    margin: 0 auto;
  }
  
  .mt-10 {
    margin-top: 10px;
  }
  
  .center-table {
    margin: 0 auto !important;
    float: none !important;
  }
  
  @media (min-width: 768px) {
    .center-table {
      margin: 0 !important;
      float: auto !important;
    }
  }
  
  .no-padding {
    padding: 0 !important;
  }
  
  /*  */
  
  /*
      FORMS DEFAULTS
      */
  
  .padding-right {
    padding-right: auto;
  }
  
  @media (min-width: 768px) {
    .padding-right {
      padding-right: auto;
    }
  }
  
  @media (min-width: 992px) {
    .padding-right {
      padding-right: 5px;
    }
  }
  
  .padding-left {
    padding-left: auto;
  }
  
  @media (min-width: 768px) {
    .padding-left {
      padding-left: auto;
    }
  }
  
  @media (min-width: 992px) {
    .padding-left {
      padding-left: 5px;
    }
  }
  
  .data-hora-entrega .btn-default,
  .data-hora-entrega .btn-default:focus {
    background-color: #dbccc5;
    color: #fff;
    border-radius: 0px;
    border: none;
    height: 34px;
    outline: none !important;
    border-bottom: 1px solid #000;
  }
  
  .data-hora-entrega .btn-default:hover {
    background-color: #e7dbd3;
  }
  
  .entrega h2 {
    margin-bottom: 20px;
  }
  
  .no-gutter > [class*="col-"]:first-child {
    padding-right: 0;
    padding-left: 15px;
  }
  
  .no-gutter > [class*="col-"] {
    padding: 0;
  }
  
  .no-gutter > [class*="col-"]:last-child {
    padding-left: 0;
    padding-right: 15px;
  }
  
  .no-gutter > [class*="pull"]:last-child {
    padding-right: 0;
    padding-left: 15px;
  }
  
  .no-gutter > [class*="push"]:first-child {
    padding-left: 0;
    padding-right: 15px;
  }
  
  @media only screen and (max-width: 768px) {
    .no-gutter > [class*="col-"]:first-child,
    .no-gutter > [class*="col-"],
    .no-gutter > [class*="col-"]:last-child,
    .no-gutter > [class*="pull"]:last-child,
    .no-gutter > [class*="push"]:first-child {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  .meu-carrinho #calcularDataHora {
    display: none;
    width: 100%;
  }
  
  .meu-carrinho .cupDesconto {
    margin-top: 150px;
  }
  
  @media (min-width: 768px) {
    .meu-carrinho .cupDesconto {
      float: left;
      margin-top: 0;
      width: 30%;
    }
  }
  
  @media (min-width: 768px) {
    .meu-carrinho .horaRetirada {
      float: left;
      margin-right: 5%;
      width: 65%;
    }
  }
  
  .meu-carrinho .box-escolha {
    border: 1px solid #ddd;
    background: #f9f9f9;
    padding-left: 10px;
  }
  
  @media (min-width: 768px) {
    .meu-carrinho .box-escolha {
      padding-left: 20px;
    }
  }
  
  .meu-carrinho .box-escolha .retirar {
    margin-top: 50px;
  }
  
  @media (min-width: 768px) {
    .meu-carrinho .box-escolha .retirar {
      margin-top: 0;
    }
  }
  
  .meu-carrinho .box-escolha a {
    color: inherit;
    text-decoration: underline;
  }
  
  .meu-carrinho .box-escolha-frete {
    background: rgba(229, 215, 207, 0.2);
    clear: both;
    width: 100%;
    float: right;
    font-size: 20px;
    margin: 10px;
  }
  
  @media (min-width: 1200px) {
    .meu-carrinho .box-escolha-frete {
      clear: none;
      margin: -40px 0 0;
      width: auto;
    }
  }
  
  .meu-carrinho .box-escolha-frete div {
    height: auto;
    padding: 10px;
    text-align: center;
  }
  
  @media (min-width: 1200px) {
    .meu-carrinho .box-escolha-frete div {
      height: 250px;
      padding: 100px 30px 0 30px;
    }
  }
  
  .meu-carrinho .box-data-hora {
    margin-bottom: 20px;
    min-height: 120px;
    padding-left: 40px;
  }
  
  .meu-carrinho .box-data-hora input,
  .meu-carrinho .box-data-hora select {
    float: left;
    margin-right: 1%;
    width: 48% !important;
  }
  
  .meu-carrinho .box-cupom {
    min-height: 120px;
    padding-left: 40px;
  }
  
  .meu-carrinho .box-cupom input[type=text] {
    width: 97% !important;
  }
  
  .meu-carrinho .gambiarra-next {
    display: none;
    position: absolute;
    visibility: hidden;
  }
  
  .meu-carrinho h1 {
    font-size: 25px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 20px;
  }
  
  .meu-carrinho .cart-title {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .meu-carrinho .cart-item {
    background-color: rgba(229, 215, 207, 0.2);
    border: none;
    margin-bottom: 5px;
    vertical-align: middle;
    color: #000;
  }
  
  .meu-carrinho .cart-item span {
    margin-top: 40px;
    display: block;
  }
  
  .meu-carrinho .cart-item span.cart-price {
    font-size: 20px;
    line-height: 1;
  }
  
  .meu-carrinho .cart-item .cart-qty,
  .meu-carrinho .cart-item .cart-remove {
    margin-top: 40px;
    transform: translateY(-30%);
  }
  
  .meu-carrinho .cart-item input.qty {
    font-size: 12px;
    text-align: center;
    border: none;
    background-color: transparent;
    outline: none;
    width: 20px;
  }
  
  .meu-carrinho .cart-item a {
    color: #000;
  }
  
  
  
  .produto h3::after {
      content: 'pagamento 3x pelo cartÃ£o';
      display: block;
      margin-top: 10px;
      font-size: 80%;
      color: #545454;
  }
>>>>>>> 92dab3818efd2d331f38f5486047d373646b30e5
