@font-face {
    font-family: 'Nickainley-Normal';
    src: url("/fonts/nickainley-normal/Nickainley-Normal.ttf.woff") format("woff"), url("/fonts/nickainley-normal/Nickainley-Normal.ttf.svg#Nickainley-Normal") format("svg"), url("/fonts/nickainley-normal/Nickainley-Normal.ttf.eot"), url("/fonts/nickainley-normal/Nickainley-Normal.ttf.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  .assinatura-agencia-get {
    background-color: #000;
    overflow: hidden;
    padding: 15px;
  }
  
  .assinatura-agencia-get a {
    background-image: url(../images/get.png);
    background-position: 50% 50%;
    background-repeat: repeat-y;
    color: #fff;
    float: right;
    height: 32px;
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
    transition: opacity .2s;
    width: 60px;
  }
  
  .assinatura-agencia-get a:focus,
  .assinatura-agencia-get a:hover {
    opacity: .8;
  }
  
  .assinatura-agencia-get a {
    background-image: url(/img/get.png);
  }
  
  /* helpers */
  
  .text-capitalize {
    text-transform: capitalize;
  }
  
  .img-responsive {
    margin: 0 auto;
  }
  
  .center-table {
    display: table;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 768px) {
    .center-sm-table {
      display: table;
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  /*  */
  
  .produto span {
    font-size: 0.7em;
  }
  
  .tamanho-conteudo-modal {
    height: auto;
    overflow-y: auto;
  }
  
  #modalBlack .modal-body {
    padding: 0;
  }
  
  #modalBlack img {
    width: 100%;
  }
  
  #modalBlack button {
    color: white;
    opacity: 1;
    position: absolute;
    top: 20px;
    z-index: 3;
    right: 20px;
  }
  
  /* Layout */
  
  body {
    background-color: #fff;
    color: #000;
    font-family: "Source Serif Pro", serif;
    font-size: 14px;
    height: 100%;
  }
  
  s {
    font-size: 12px;
  }
  
  /*  */
  
  /*
  * CUSTOMS
  */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  ul,
  li {
    margin-top: 0;
    padding: 0;
    list-style: none;
  }
  
  .alert a {
    color: #8a6d3b;
  }
  
  small {
    color: inherit !important;
  }
  
  .t1,
  .t3 {
    font-family: "Source Serif Pro", serif;
  }
  
  .t2 {
    font-family: "Nickainley-Normal", cursive;
    letter-spacing: 0 !important;
  }
  
  a,
  .btn {
    transition: all 0.5s ease-in-out;
  }
  
  /*
  * CAROUSEL MOBILE
  */
  
  .banner-mobile {
    position: relative;
    width: 100%;
    overflow: auto;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.3);
    background: #5b4d3d;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    /*
    * CAROUSEL MOBILE
    */
    /* DOWN */
    /* DOWN DOWN */
  }
  
  .banner-mobile .unslider-arrow {
    color: #fff;
    font-size: 30px;
    margin-top: -200px;
    position: relative;
  }
  
  .banner-mobile .unslider-arrow.prev {
    float: left;
    margin-left: 15px;
  }
  
  .banner-mobile .unslider-arrow.next {
    float: right;
    margin-right: 15px;
  }
  
  .banner-mobile .unslider-arrow:focus,
  .banner-mobile .unslider-arrow:hover {
    color: #fff;
  }
  
  .banner-mobile .a-full {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .banner-mobile ul {
    list-style: none;
    width: 300%;
  }
  
  .banner-mobile ul li {
    color: #FFF;
    display: block;
    float: left;
    width: 33%;
    padding: 40px 50px;
    height: 400px;
    background: no-repeat center center;
    background-size: cover;
  }
  
  .banner-mobile .cov {
    background: no-repeat center center;
    background-size: cover;
  }
  
  .banner-mobile .cov a {
    color: #FFF;
    text-decoration: none;
    display: block;
    overflow: hidden;
    outline: none;
  }
  
  .banner-mobile.empresa ul li {
    height: 600px;
  }
  
  .banner-mobile .t1 {
    line-height: 40px;
  }
  
  .banner-mobile .carousel-home-banner-1 .t1 {
    margin-top: 130px;
    font-size: 30px;
  }
  
  .banner-mobile .carousel-home-banner-1 .t2 {
    font-size: 65px;
  }
  
  .banner-mobile .carousel-home-banner-2 .t1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .banner-mobile .carousel-home-banner-2 .t2 {
    line-height: 1;
    margin-top: 180px;
    font-size: 45px;
  }
  
  .banner-mobile .carousel-home-banner-2 .t3 {
    font-size: 30px;
    margin-top: 20px;
  }
  
  .banner-mobile .carousel-home-banner-3 .t1 {
    font-size: 30px;
    margin-top: 170px;
  }
  
  .banner-mobile .carousel-home-banner-4 .t1 {
    margin-top: 140px;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .banner-mobile .carousel-home-banner-4 .t2 {
    font-size: 65px;
  }
  
  .banner-mobile .carousel-home-down-banner-1 .t1,
  .banner-mobile .carousel-home-down-banner-2 .t1,
  .banner-mobile .carousel-home-down-banner-3 .t1 {
    margin-top: 0px;
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .banner-mobile .carousel-home-down-banner-1 .t2,
  .banner-mobile .carousel-home-down-banner-2 .t2,
  .banner-mobile .carousel-home-down-banner-3 .t2 {
    margin-top: 0px;
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .banner-mobile .carousel-home-down-banner-1 p,
  .banner-mobile .carousel-home-down-banner-2 p,
  .banner-mobile .carousel-home-down-banner-3 p {
    text-align: left;
    font-size: 18px;
  }
  
  .banner-mobile .carousel-home-down-down-banner-1 .t1,
  .banner-mobile .carousel-home-down-down-banner-2 .t1,
  .banner-mobile .carousel-home-down-down-banner-3 .t1 {
    margin-top: 30px;
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .banner-mobile .carousel-home-down-down-banner-1 .t2,
  .banner-mobile .carousel-home-down-down-banner-2 .t2,
  .banner-mobile .carousel-home-down-down-banner-3 .t2 {
    margin-top: 0px;
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .banner-mobile .carousel-home-down-down-banner-1 p,
  .banner-mobile .carousel-home-down-down-banner-2 p,
  .banner-mobile .carousel-home-down-down-banner-3 p {
    text-align: left;
    font-size: 14px;
  }
  
  .banner-mobile .carousel-home-down-down-banner-3 {
    background-position: -700px;
    background-position: -500px;
  }
  
  .banner-mobile.banner-mobile--cardapio .banner-mobile__item {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .banner-mobile.banner-mobile--cardapio .banner-mobile__item .t1,
  .banner-mobile.banner-mobile--cardapio .banner-mobile__item .t2 {
    font-size: 40px;
    line-height: 1;
  }
  
  .banner-mobile.banner-mobile--cardapio .banner-mobile__item p {
    text-align: left;
    font-size: 14px;
  }
  
  .banner-mobile.empresa .unslider-arrow.next {
    margin-top: -300px;
  }
  
  .banner-mobile.empresa .unslider-arrow.prev {
    margin-top: -300px;
  }
  
  .modal .modal-dialog .modal-content {
    background-color: rgba(229, 215, 207, 0.95);
  }
  
  .modal .modal-dialog .modal-content .modal-header {
    border-bottom: 1px solid #7a6259;
  }
  
  .modal .modal-dialog .modal-content .modal-header.modal-header--no-title {
    border-bottom: 0;
    min-height: 10px;
    padding: 0;
    position: relative;
    z-index: 2;
  }
  
  .modal .modal-dialog .modal-content .modal-header.modal-header--no-title .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .modal .modal-dialog .modal-content .modal-body h2 {
    text-align: center;
  }
  
  .modal.cardapio .modal-content .modal-header {
    padding: 20px;
    text-align: center;
  }
  
  .modal.cardapio .modal-content .modal-header .modal-title {
    font-size: 30px;
    line-height: 1.1;
  }
  
  .modal.cardapio .modal-content .modal-body .produto {
    margin-bottom: 10px;
  }
  
  .modal.cardapio .modal-content .modal-body .cardapio__subheading {
    margin-top: 0;
    text-align: center;
  }
  
  .modal.cardapio .modal-content .modal-body hr {
    border-color: #7a6259;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .modal.cardapio .modal-content .modal-body .cardapio__itens {
    margin-bottom: 30px;
  }
  
  .modal.cardapio .modal-content .modal-body .cardapio__itens ul {
    margin-bottom: 0;
    padding-left: 15px;
  }
  
  .modal.cardapio .modal-content .modal-body .cardapio__itens ul li {
    list-style: circle;
  }
  
  /*
  * SOCIAL
  */
  
  div.social {
    background-color: #000;
    color: #d6c1b4;
    padding-top: 20px;
    padding-bottom: 35px;
  }
  
  div.social .down {
    text-align: center;
    font-size: 30px;
  }
  
  div.social .text {
    font-family: "Nickainley-Normal", cursive;
    font-size: 40px;
    text-align: center;
  }
  
  div.social .hashtag {
    font-family: "source_serif_prolight", serif;
    text-align: center;
    font-size: 3.21em;
  }
  
  div.social .midias {
    text-align: center;
  }
  
  div.social .down a,
  div.social .midias a {
    color: inherit;
    font-size: 32px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  div.social .down a:hover,
  div.social .midias a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-header {
    position: relative;
    z-index: 2;
  }
  
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .navbar-default {
    border-color: #e7e7e7;
    border-radius: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.9);
    margin-bottom: 0;
  }
  
  .navbar-default .navbar-toggle,
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    font-size: 20px;
    color: #d6c1b4;
    border: none;
    background: none;
  }
  
  .navbar-default .navbar-nav > li > a {
    color: #dbc6b8;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Source Serif Pro", serif;
    transition: color .5s;
  }
  
  @media (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 12px;
      padding: 25px 5px;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 15px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  
  @media (min-width: 1200px) {
    .navbar-default .navbar-nav > li > a {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    text-decoration: underline;
  }
  
  .navbar-default hr {
    border-color: #dbc6b8;
  }
  
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none;
  }
  
  .navbar > .container .navbar-brand-centered,
  .navbar > .container-fluid .navbar-brand-centered {
    width: 66px;
    margin: 0 auto;
    float: none;
    padding: 15px 0;
  }
  
  .nav-logo a.logo img {
    height: 124px;
    transform-origin: 50% 25%;
    transition: transform .5s ease-in-out;
  }
  
  @media (min-width: 992px) {
    .nav-logo a.logo img {
      height: 179px;
    }
  }
  
  .nav-logo a.logo.sticky img {
    transform: scale(0.69);
  }
  
  /*************
   * Media 768 *
   *************/
  
  @media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
      background-color: none;
      display: block;
      height: 131px;
      left: 0;
      padding: 0;
      position: absolute;
      text-align: center;
      width: 191px;
    }
  
    .navbar .navbar-nav {
      display: inline-block;
      float: none;
    }
  
    .navbar .navbar-collapse {
      text-align: center;
    }
  }
  
  .btn-loja-home {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 0px;
    color: #fff;
    font-size: 20px !important;
    margin-top: 30px;
  }
  
  .btn-loja-home:focus,
  .btn-loja-home:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
  }
  
  .chamada-loja-virtual {
    background-color: #e5d7cf;
    color: #baa293;
    padding-top: 45px;
    padding-bottom: 20px;
  }
  
  .chamada-loja-virtual a {
    color: inherit;
  }
  
  .chamada-loja-virtual .chamada-loja-virtual__heading-btn {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    transition: color .5s;
  }
  
  .chamada-loja-virtual .chamada-loja-virtual__heading-btn span {
    display: block;
    line-height: 1;
  }
  
  .chamada-loja-virtual .chamada-loja-virtual__heading-btn span.t1 {
    font-size: 38px;
  }
  
  .chamada-loja-virtual .chamada-loja-virtual__heading-btn span.t2 {
    font-size: 60px;
  }
  
  @media (min-width: 992px) {
    .chamada-loja-virtual .chamada-loja-virtual__heading-btn span.t2 {
      font-size: 76px;
    }
  }
  
  .chamada-loja-virtual .chamada-loja-virtual__heading-btn:focus,
  .chamada-loja-virtual .chamada-loja-virtual__heading-btn:hover {
    color: #000;
  }
  
  .chamada-loja-virtual .menu-home-loja {
    font-weight: bold;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  
  @media (min-width: 992px) {
    .chamada-loja-virtual .menu-home-loja {
      display: table;
      font-size: 0;
    }
  }
  
  .chamada-loja-virtual .menu-home-loja li:not(:last-child) {
    margin-top: 2px;
  }
  
  @media (min-width: 992px) {
    .chamada-loja-virtual .menu-home-loja li:not(:last-child) {
      margin-top: 0;
      margin-right: 2px;
    }
  }
  
  @media (min-width: 992px) {
    .chamada-loja-virtual .menu-home-loja li {
      display: inline-block;
      font-size: 14px;
    }
  }
  
  .chamada-loja-virtual .menu-home-loja li a {
    border: 2px solid rgba(186, 162, 147, 0);
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: border-color .5s, color .5s;
  }
  
  .chamada-loja-virtual .menu-home-loja li a:focus,
  .chamada-loja-virtual .menu-home-loja li a:hover {
    border-color: #000;
    color: #000;
  }
  
  /*************
  * Media 768 *
  *************/
  
  @media (min-width: 768px) {
    /* CAROUSEL */
  
    .carousel_home,
    .carousel_home_down {
      width: 100%;
      overflow: hidden;
    }
  
    .carousel_home .navigation,
    .carousel_home_down .navigation {
      position: absolute;
    }
  
    .carousel_home .navigation li,
    .carousel_home_down .navigation li {
      list-style-type: none;
      cursor: pointer;
      cursor: hand;
      margin-top: 10px;
      width: 12px;
      height: 12px;
      display: block;
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 6px;
    }
  
    .carousel_home .navigation li:hover,
    .carousel_home .navigation li.active,
    .carousel_home_down .navigation li:hover,
    .carousel_home_down .navigation li.active {
      display: none;
      border-radius: 6px;
      display: block;
      width: 12px;
      height: 12px;
      background-color: #fff;
      border: 2px solid #fff;
    }
  
    .carousel_home {
      height: 857px;
    }
  
    .carousel_home .navigation {
      left: 80px;
      top: 400px;
    }
  
    .carousel_home_down {
      height: 775px;
    }
  
    .carousel_home_down .navigation {
      left: 53%;
      top: 1550px;
    }
  }
  
  @media (min-width: 768px) and (min-width: 1200px) {
    .carousel_home_down .navigation {
      left: 45%;
    }
  }
  
  @media (min-width: 768px) {
    ul.carousel_home,
    ul.carousel_home_down {
      height: 999999px;
      width: 100%;
    }
  
    ul.carousel_home li,
    ul.carousel_home_down li {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      color: #fff;
    }
  
    ul.carousel_home .t1,
    ul.carousel_home_down .t1 {
      font-size: 42px;
      line-height: 1;
    }
  
    ul.carousel_home .t2,
    ul.carousel_home_down .t2 {
      font-size: 130px;
      line-height: 1;
      margin-top: -.25em;
    }
  
    ul.carousel_home li {
      height: 857px;
      padding-top: 350px;
    }
  
    ul.carousel_home_down {
      /* CARROUSEL SLIDE DOWN */
    }
  
    ul.carousel_home_down li {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      height: 775px;
    }
  
    ul.carousel_home_down li > .container-fluid {
      min-width: 100%;
    }
  
    ul.carousel_home_down .palco {
      background: rgba(0, 0, 0, 0.5);
      font-size: 16px;
      letter-spacing: -1px;
      line-height: 1.56;
      padding: 40px;
      text-align: right;
    }
  
    ul.carousel_home_down .palco .t2 {
      font-size: 89px;
      line-height: 1;
      margin-top: 0;
    }
  
    ul.carousel_home_down .palco .t1 {
      font-family: "source_serif_prolight", serif;
      font-size: 65px;
      letter-spacing: -2px;
      margin-bottom: 5px;
    }
  }
  
  .lojas {
    background: url("/img/loja1.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    color: #e5d7cf;
    font-size: 16px;
    padding-top: 45px;
    padding-bottom: 30px;
  }
  
  @media (min-width: 768px) {
    .lojas {
      font-size: 20px;
      padding-top: 125px;
      padding-bottom: 110px;
    }
  }
  
  .lojas .title .t2 {
    line-height: 1;
    margin-bottom: 30px;
  }
  
  @media (min-width: 768px) {
    .lojas .title .t2 {
      font-size: 71px;
      margin-bottom: 60px;
    }
  }
  
  .lojas .title .t2 br {
    display: none;
  }
  
  .lojas .title .t2 .t1 {
    display: block;
    font-family: "source_serif_prolight", serif;
    font-size: .65em;
    line-height: 1;
  }
  
  .lojas .t1 {
    font-size: 32px;
    line-height: 1;
  }
  
  .lojas .t2 {
    font-size: 40px;
    line-height: 1;
    margin-top: -.15em;
    margin-bottom: 15px;
  }
  
  .lojas .icon-relogio {
    margin: 50px 0 30px;
  }
  
  .lojas .horario .seg-sex {
    text-align: right;
    border-right: 1px solid #e5d7cf;
  }
  
  .lojas .horario .sab {
    text-align: left;
  }
  
  .lojas .fone {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  
  .form-control[readonly] {
    background-color: white;
  }
  
  input::-webkit-input-placeholder {
    color: #000 !important;
  }
  
  input:-ms-input-placeholder {
    color: #000 !important;
  }
  
  input::placeholder {
    color: #000 !important;
  }
  
  .form-control-branco {
    border: 1px solid #000;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    color: #000;
    outline: none !important;
    transition: all 0.5s ease-in-out;
  }
  
  .form-control-branco:focus {
    border-color: #000;
    box-shadow: none;
  }
  
  .checkbox label,
  .radio label {
    min-height: 20px;
    padding-left: 0;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
  }
  
  /*Radio*/
  
  .radio {
    padding-left: 20px;
  }
  
  .radio label {
    display: inline-block;
    position: relative;
    padding-right: 30px;
  }
  
  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
    transition: border 0.15s ease-in-out;
  }
  
  .radio label::after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #000;
    transform: scale(0, 0);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }
  
  .radio input[type="radio"] {
    opacity: 0;
  }
  
  .radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .radio input[type="radio"]:checked + label::after {
    transform: scale(1, 1);
  }
  
  .radio input[type="radio"]:disabled + label {
    opacity: 0.65;
  }
  
  .radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
  }
  
  /*Checkbox*/
  
  .checkbox {
    padding-left: 0;
  }
  
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-right: 5px;
    margin-left: 20px;
  }
  
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #fff;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
  
  .checkbox input[type="checkbox"] {
    opacity: 0;
  }
  
  .checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
  }
  
  .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
  }
  
  .checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #000;
    cursor: not-allowed;
  }
  
  .checkbox.checkbox-circle label::before {
    border-radius: 50%;
  }
  
  .checkbox.checkbox-inline {
    margin-top: 0;
  }
  
  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #000;
    border-color: #000;
  }
  
  .checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #000;
    border-color: #000;
  }
  
  .checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #000;
    border-color: #000;
  }
  
  .checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #000;
    border-color: #000;
  }
  
  .checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #000;
    border-color: #000;
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .espaco-input {
    padding-right: 30px;
  }
  
  .espaco-texto {
    padding-right: 15px;
  }
  
  h5 {
    list-style: none;
  }
  
  .nav.nav-tabs > li > a {
    border-radius: 0;
    color: #000;
    text-decoration: none;
  }
  
  .nav.nav-tabs > li > a:focus,
  .nav.nav-tabs > li > a:hover {
    text-decoration: none;
    background-color: #000;
    color: #e5d7cf;
  }
  
  .nav.nav-tabs > li > a:hover {
    border: 1px solid #000;
  }
  
  .nav.nav-tabs > li.active > a,
  .nav.nav-tabs > li.active > a:focus,
  .nav.nav-tabs > li.active > a:hover {
    background-color: #e5d7cf;
    border: 1px solid #e5d7cf;
    border-bottom-color: transparent;
    border-radius: 0;
    color: #000;
    cursor: default;
    text-align: center;
  }
  
  /*************
  * Media 768 *
  *************/
  
  @media (min-width: 768px) {
    li.carousel-home-banner-2 .t1 {
      font-size: 80px;
      text-align: center;
      margin-bottom: 0;
    }
  
    li.carousel-home-banner-2 .t2 {
      margin-top: 120px;
      text-align: center;
      font-size: 100px;
    }
  
    li.carousel-home-banner-2 .t3 {
      font-size: 100px;
    }
  
    li.carousel-home-banner-3 .t1 {
      font-size: 90px;
      position: absolute;
      right: 0;
    }
  
    li.carousel-home-banner-4 .t1 {
      font-size: 70px;
    }
  
    li.carousel-home-banner-4 .t2 {
      font-size: 90px;
      margin-top: -.175em;
    }
  }
  
  .header-lead-section {
    background-color: #000;
    -ms-flex-align: center;
    align-items: center;
    color: #d6c1b4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    height: 150px;
  }
  
  @media (min-width: 768px) {
    .header-lead-section {
      height: 225px;
    }
  }
  
  .header-lead-section.header-lead-section--listrada {
    background-attachment: fixed;
    background-image: repeating-linear-gradient(to right, #000, #000 40px, #454545 40px, #454545 41px);
  }
  
  .header-lead-section div,
  .header-lead-section h1 {
    font-weight: inherit;
    line-height: 1;
    font-size: 18px;
  }
  
  @media (min-width: 768px) {
    .header-lead-section div,
    .header-lead-section h1 {
      font-size: 35px;
    }
  }
  
  .header-lead-section div a,
  .header-lead-section h1 a {
    color: inherit;
    text-decoration: none;
  }
  
  .header-lead-section div a:focus,
  .header-lead-section div a:hover,
  .header-lead-section h1 a:focus,
  .header-lead-section h1 a:hover {
    color: #fff;
  }
  
  .header-lead-section div .t2,
  .header-lead-section h1 .t2 {
    font-size: 2em;
    line-height: .9;
    margin-top: -.1em;
    margin-bottom: 5px;
  }
  
  .header-lead-section div .fa,
  .header-lead-section h1 .fa {
    display: block;
    line-height: 1;
    margin-bottom: -.5em;
    font-size: 30px;
  }
  
  @media (min-width: 768px) {
    .header-lead-section div .fa,
    .header-lead-section h1 .fa {
      font-size: 48px;
    }
  }
  
  .trabalhe-conosco .trabalhe-conosco__collapse .row {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .trabalhe-conosco .trabalhe-conosco__collapse .cursos-margin {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .trabalhe-conosco .trabalhe-conosco__collapse .t1 {
    font-size: 30px;
  }
  
  .trabalhe-conosco .trabalhe-conosco__collapse .bootstrap-filestyle {
    margin-bottom: 10px;
  }
  
  .trabalhe-conosco .trabalhe-conosco__collapse h2 {
    margin-bottom: 20px;
  }
  
  .trabalhe-conosco .trabalhe-conosco__collapse .form-control,
  .trabalhe-conosco .trabalhe-conosco__collapse .form-control:focus {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  
  .trabalhe-conosco .trabalhe-conosco__collapse .btn,
  .trabalhe-conosco .trabalhe-conosco__collapse .btn:focus {
    background-color: #e5d7cf;
    border-radius: 0;
    border: 0;
    color: #000;
    outline: none !important;
  }
  
  .trabalhe-conosco .trabalhe-conosco__collapse .campos-cargos2 {
    margin-top: -10px;
    margin-bottom: -55px;
  }
  
  @media (min-width: 992px) {
    .trabalhe-conosco .trabalhe-conosco__collapse .campos-cargos2 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  
  @media (min-width: 768px) {
    .banners-cardapio-desktop {
      border: 2px solid #fff;
    }
  
    .banners-cardapio-desktop .banners-cardapio-desktop__item {
      background-position: 50% 50%;
      border: 2px solid #fff;
      height: 375px;
      position: relative;
    }
  
    .banners-cardapio-desktop .banners-cardapio-desktop__item a .hover {
      -ms-flex-align: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      border: 1px solid #fff;
      bottom: 10px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      left: 10px;
      opacity: 0;
      position: absolute;
      right: 10px;
      top: 10px;
      transition: opacity .6s;
    }
  
    .banners-cardapio-desktop .banners-cardapio-desktop__item a .hover .text {
      text-align: center;
      color: #fff;
    }
  
    .banners-cardapio-desktop .banners-cardapio-desktop__item a .hover .text .t1 {
      font-size: 35px;
      line-height: 1;
    }
  
    .banners-cardapio-desktop .banners-cardapio-desktop__item a .hover .text .t2 {
      font-size: 62px;
      line-height: 1;
      margin-bottom: 10px;
    }
  
    .banners-cardapio-desktop .banners-cardapio-desktop__item a:focus .hover,
    .banners-cardapio-desktop .banners-cardapio-desktop__item a:hover .hover {
      opacity: 1;
    }
  }
  
  .rodape {
    padding-top: 40px;
  }
  
  .rodape > .container {
    margin-bottom: 35px;
  }
  
  .rodape .t2 {
    text-align: center;
    font-size: 60px;
  }
  
  @media (min-width: 768px) {
    .rodape .t2 {
      text-align: left;
    }
  }
  
  .rodape h2 {
    margin-bottom: 20px;
  }
  
  .rodape .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0px;
    box-shadow: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  
  .rodape textarea.form-control {
    border: 1px solid #000;
    resize: none;
    height: auto !important;
  }
  
  .rodape .btn,
  .rodape .btn:focus {
    background-color: #e5d7cf;
    color: #000;
    border-radius: 0px;
    border: none;
    outline: none !important;
  }
  
  .rodape ul li {
    padding: 5px 0;
  }
  
  .rodape a {
    color: #baa293;
    font-family: "Source Serif Pro", serif;
    font-size: 18px;
  }
  
  .rodape a:focus,
  .rodape a:hover,
  .rodape li.active a {
    color: #000;
    text-decoration: none;
  }
  
  .rodape .listra {
    background-color: #e5d7cf;
    height: 145px;
  }
  
  /*
  * G-MAPS
  */
  
  div#g-maps-princesa
  div#g-maps-dolce-via {
    display: none;
  }
  
  /* ALERTS*/
  
  .top-alert {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
    left: 0;
    padding: 20px;
    display: inline-block;
    text-align: center;
  }
  
  .top-alert .alert {
    width: auto !important;
    height: 100%;
    display: inline;
    position: relative;
    margin: 0;
  }
  
  .top-alert .alert .close {
    position: absolute;
    top: 11px;
    right: 10px;
    color: inherit;
  }
  
  .carteira-nacional .col-lg-4 {
    width: 0;
    margin-left: 0;
    padding-left: 0;
    margin-right: 30px;
  }
  
  .carteira-nacional .col-lg-6 {
    width: 0;
    margin-left: 0;
    padding-left: 0;
  }
  
  .col-left {
    box-sizing: border-box;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
  }
  
  .col-center {
    box-sizing: border-box;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
  }
  
  .col-center.b {
    box-sizing: border-box;
    border-top: 3px solid #fff;
    border-left: 0 solid #fff;
    border-right: 3px solid #fff;
  }
  
  .col-right {
    box-sizing: border-box;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
  }
  
  hr.hr-empresa {
    border-top: 1px solid rgba(104, 199, 187, 0.35);
  }
  
  .preencha-curriculo h2 {
    display: block;
  }
  
  input[type="text"][disabled] {
    color: #000 !important;
  }
  
  .trip {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    height: 100px;
  }
  
  .trip a {
    color: #000;
    display: inline-block;
    text-decoration: none;
    transition: opacity .2s;
  }
  
  .trip a:focus,
  .trip a:hover {
    opacity: .5;
  }
  
  .trip h3 {
    font-size: 26px;
  }
  
  .trip h3 i {
    font-size: 46px;
  }
  
  a.link-banner {
    display: block;
    height: 100%;
  }
  
  /* CSS for Credit Card Payment form */
  
  .credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
  }
  
  .credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }
  
  .credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
  }
  
  .credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
  }
  
  .credit-card-box label {
    display: block;
  }
  
  /* The old "center div vertically" hack */
  
  .credit-card-box .display-table {
    display: table;
  }
  
  .credit-card-box .display-tr {
    display: table-row;
  }
  
  .credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
  
  /* Just looks nicer */
  
  .credit-card-box .panel-heading img {
    min-width: 180px;
  }